/*
CORE & FULL PAGE BACKGROUND IMAGE
*/

body {
    font-family: 'Montserrat', sans-serif;
}
body,

/*
HEADER, SEARCH-TYPES AND CLOCK
*/

header {
    margin-top: 15px;
}

.search-types,
.toolbar {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: inline-block;
    height: 46px;
}

.search-types {
    line-height: 46px;
    padding: 0 12px;
}

.search-types a {
    color: #fff;
    padding: 0 8px;
    text-decoration: none;
}

.search-types a.active {
    font-weight: 700;
}

.toolbar {
    color: #fff;
    padding: 0 15px;
}

.toolbar > div {
    float: left;
}

.time {
    font-size: 30px;
    line-height: 46px;
}

.options-open,
.options-open:active,
.options-open:focus {
    color: #fff;
    font-size: 1.2em;
    padding-left: 30px;
    line-height: 48px;
    transition: .2s;
}

.options-open:hover {
    color: #4989F8;
}


/*
SEARCH FORM
*/

main {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form input:focus, form button:focus {
    outline: none !important;
}

.search-engine {
    width: 130px;
    float: left;
}

.search-engine select {
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    padding-left: 15px;
}

.search-engine .select2-selection {
    background: #E5E8EB;
    border-color: #fff;
    height: 40px;
    font-weight: 700;
    outline: none;
}

.select2-dropdown {
    background: #E5E8EB;
    font-weight: 700;
}

.select2-results__option {
    padding: 10px 10px 10px 15px;
}

.search-engine-icon {
    margin: -2px 10px 0 0;
}

.search-query {
    background: #fff;
    border-radius: 4px;
    float: right;
}

.white-bg .search-query {
    background: #E5E8EB;
}

.white-bg .search-query input {
    background: transparent;
}

.search-query input {
    border: none;
    border-radius: 4px;
    display: block;
    height: 40px;
    float: left;
    padding: 0 10px;
    width: 425px;
}

@media (max-width: 600px) {
    .search-engine {
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .search-query input {
        width: 80%;
    }

    .search-query {
        float: none;
        margin: 0 auto;
        max-width: 80%;
    }
}

.searchButton {
    background: #4989F8;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    float: right;
    height: 38px;
    margin: 1px;
    transition: .3s;
    width: 38px;
}

.search-go:active,
.search-go:focus,
.search-go:hover {
    color: #b6cffc;
}

